@model IEnumerable<WebApplication5.Models.Flight>
<div class="contianer" style="padding-top:7px">
    <div class="jumbotron" style="background-image:url(https://cdn.pixabay.com/photo/2019/07/06/03/26/yellowstone-4319675_1280.jpg);background-size:cover;background-repeat:no-repeat;">
        <h1>Find the best flight !</h1>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-12 col-sm-6 ">


                <table class="table" style="background-color:rgba(255, 255, 255, 0.60)">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.flightAttendant)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.flightBoard.boardName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.plane)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.flightNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.from)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.to)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.price)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.flightAttendant.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.flightBoard.boardName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.plane.company)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.flightNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.from)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.to)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.price)
                            </td>
                            <td>
                                @Html.ActionLink("Order Now", "Details", "Flights", new { id = item.flightId }, null)

                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>