@model IEnumerable<WebApplication5.Models.FlightBoard>

@{
    ViewBag.Title = "Index";

}

<div class="contianer" style="padding-top:7px">
    <div class="jumbotron" style="background-image:url(../../resources/airplane-983991_1920.jpg);background-size:cover;background-repeat:no-repeat; opacity:0.9;">
        <h2>choose your company flight board</h2>
        <hr class="my-4">
        @if (Session["name"].ToString().Contains(" Admin"))
        {
            <p>
                @Html.ActionLink("Create New FlightBoard", "Create") | @Html.ActionLink("Create New Flight", "Create", "Flights")
            </p>

            <p>
                @Html.ActionLink("Flights group by Flightboards", "groupBy", "FlightBoards") |  @Html.ActionLink("join of flightBoard with flightAttendant", "joinFlight", "FlightBoards") | @Html.ActionLink("join of flightBoard with plane", "joinPlane", "FlightBoards")
            </p>

        }
        <div class="row">
            <div class="col-md-4 col-sm-6 ">
                <div>
                    <form role="form" action="/FlightBoards/Search" method="post">
                        <div class="form-group">
                            <input type="text" name="boardname" id="name" style="border-radius: 20px 20px 20px 20px;width: 85% !important;height: 30px; position:absolute;left:5%" class="form-control input-sm row-cols-sm-1" placeholder="Search by board name">
                            <input type="submit" class="btn btn-primary " style="background-color:royalblue !important;border-radius: 20px 20px 20px 20px; position:relative;height:30px;left:72.5%; " value="Search">
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 ">
                <form role="form" action="/FlightBoards/displayFlights" method="post">
                    @foreach (var item in Model)
                    {
                        <div class="form-group" style="padding-left:10%">
                            <div class="pretty p-icon p-round p-tada">
                                <input type="checkbox" id="inlineCheckbox1" value="@Html.DisplayFor(modelItem => item.flightBoardID)">
                                <div class="state p-primary-o">
                                    <i class="icon mdi mdi-heart"></i>
                                    <label>@Html.DisplayFor(modelItem => item.boardName)</label>
                                </div>
                            </div>
                        </div>
                    }

                    <input type="button" onclick="func()" id="save_value" value="Move to Flights " style="border-radius: 20px 20px 20px 20px; " class="btn btn-primary btn-block">
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function func() {
        var val = [];
        $(':checkbox:checked').each(function (i) {
            val[i] = $(this).val();

        });
        window.location = "/FlightBoards/displayFlights?names=" + val;

    }

</script>


@if (Session["name"].ToString().Contains(" Admin"))
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.boardName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.boardName)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.flightBoardID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.flightBoardID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.flightBoardID })
                </td>

            </tr>
        }

    </table>
}




