@model WebApplication5.Models.Flight

@{
    ViewBag.Title = "Details";
}

<div class="contianer" style="padding-top:7px">
    <div class="jumbotron" style="background-image:url(https://cdn.pixabay.com/photo/2020/04/17/12/28/cloud-5055011_1280.jpg)">
        <div class="row">
            <div class="col-md-12 col-sm-6">
                <h1>Order Details </h1>
                <div>

                    <hr />
                    <dl class="dl-horizontal" style="opacity:0.7">
                        <dt>
                            @Html.DisplayNameFor(model => model.flightAttendant.name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.flightAttendant.name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.flightBoard.boardName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.flightBoard.boardName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.plane.company)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.plane.company)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.flightNumber)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.flightNumber)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.from)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.from)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.to)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.to)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.price)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.price)
                        </dd>
                        <dd>
                            @Html.ActionLink("Click FOR cHECKOUT", "Payment", "Flights")
                        </dd>


                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
